@{ 
    ViewBag.Title = "Login";
}


<title>@ViewBag.Title</title>

<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for"Username">Username: </label>
                <input class="form-control" type="text"  placeholder="Username" id="InputUserName"/>
            </div>
            <div class="form-group">
                <label for"Password">Password: </label>
                <input class="form-control" type="password" placeholder="Password" id="InputPassword"/>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" /> Remember Me</label>
            </div>
            <button type="submit" class="btn bnt-default">Submit</button>
        </div>

    </div>

</div>

