
@{
    ViewBag.Title = "Sign Up";
}


<title>@ViewBag.Title</title>

<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="text-center">
            <h2><b>Sign Up</b></h2><br />
        </div>
        <div class="col-xs-12 col-lg-push-3">
            <div if="SignUpForm" class="form-group">
                <label for"Username">Username: </label>
                <input class="form-control" type="text" placeholder="Username" id="InputUserName" />
            </div>
            <div class="form-group">
                <label for"Username">Email: </label>
                <input class="form-control" type="email" placeholder="Email" id="InputEmail" />
            </div>
            <div class="form-group">
                <label for"Password">Password: </label>
                <input class="form-control" type="password" placeholder="Password" id="InputPassword" />
            </div>
            <div class="form-group">
                <label for"Password">Re-Enter Password: </label>
                <input class="form-control" type="password" placeholder="Password" id="InputPassword" />
            </div>
            <div class="checkbox">
                <label><input type="checkbox" /> Remember Me</label>
            </div>
            <button type="submit" class="btn bnt-default">Submit</button>
        </div>
    </div>
</div>
